<div class="orders-list">
  <h4>Orders to be shipped</h4>
</div>
<% @orders.each do |order| %>
  <%= link_to order_path(order) do %>
      <div id="small-card">
        <div class="card-product">
          <div class="order-weight d-flex flex-column justify-content-between">
            <h3><%= order.name %></h3>
            <% sum = 0 %>
            <% order.items.each { |item| sum += item.weight} %>
            <p><%= sum/1000.0 %>kg</p>
          </div>
          <div class="card-product-infos d-flex flex-column align-items-end">
            <p class="order-date"><%= order.created_at.strftime("%b %d, %Y") %></p>
            <p class="order-time"><%= order.created_at.strftime("%H:%M") %></p>
            <% if order.packed %>
              <div class="packed text-right">
                <p class="text-right"><i class="fas fa-check mr-1"></i>Packed</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>

