<!DOCTYPE html>
<html>
  <head>
    <title>Veeqo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container" style="background-image: url(<%= image_path('Intersect.png')%>); background-size: cover; background-position: center; ">
      <div class="navbar-container"><%= render 'shared/navbar' %></div>
      <%= render 'shared/flashes' %>
      <div class="content-container"><%= yield %></div>
      <% if params[:action] == "show" %>
        <div class="footer-container"><%= render 'shared/footer' %></div>
      <% end %>
    </div>
  </body>
</html>
